@{
ViewBag.Title = "Hobbies";
}

<h2>@ViewBag.Title</h2>

<p>My hobbies are:</p>


<img src="~/images/The-Big-Lebowski-hp-GQ-25Feb16_rex_b.jpg" />
<p>Drinking white russian</p>
<img src="~/images/bowling-big-lebowski.jpg" />
<p>Bowling</p>
<img src="~/images/the-big-lebowski.jpg" />
<p>Listening to the sound of whales</p>
<img src="~/images/giphy.gif" />
<p>Smoking pot</p>
